* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.site-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 16px
}

.navbarA{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1b8e99;
    height: 45px;
    width: 100%;
    margin-top: 16px;
    position: relative;
}
.navbarB{
    display: flex;
    align-items: center;
    background-color: #660000;
    height: 45px;
    width: 100%;
}

.navbarA a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    height: 45px;
    display: flex;
    align-items: center;
  }

.navbarB a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    height: 45px;
    display: flex;
    align-items: center;
  }

.navbarA a:hover {
    background-color: black;
}

.navbarB a:hover {
    background-color: #92c9ce;
}
  
.activeA {
    height: 60px !important; 
    display: flex;
    align-items: center;
    background-color: #92c9ce;
    z-index: 1;
  }

.activeB {
    font-weight: bold;
    height: 60px !important; 
    display: flex;
    align-items: center;
    background-color: White;
    color: #660000 !important;
    z-index: 1;
  }
  
.banner{
    width: 100%;
    z-index: -2;
}
.img-logo{
    border: 1px #1b8e99;
    position: absolute;
    top: -16px;
    left: 16px;
    z-index: 9999;
}

.virtual-store-divider {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.virtual-store-divider img {
    margin-top: 16px;
    width: 125px;
    height: 77px;
}

.virtual-store-divider h2 {
    position: relative;
    display: block;
    flex: 1;
    border-bottom: 2px solid #660000;
    color: #660000;
    bottom: 20px;
}

.DroneCards{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
}

.cardDroneA{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border: 1px solid #1b8e99;
    padding-top: 3px;
}

.cardDroneA > p:nth-child(1){
    display: block;
    width: calc(100% - 6px);
    background: #92c9ce66;
    color: #1b8e99;
    text-align: center;
    font-weight: 600;
}

.cardDroneA > p:nth-child(3){
    color: #1b8e99;
    width: calc(100% - 32px);
    font-size: 14px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.DescriptionDroneA{
    background-color: #1b8e99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.DescriptionDroneA button{
    border-radius: 8px;
    border: 0;
    padding: 6px;
    background: white;
    cursor: pointer;
}

.DescriptionDroneA button:hover{
    filter: brightness(0.9);
}

.DescriptionDroneText {
    display: flex;
    flex-direction: column;
    color: white
}

.DescriptionDroneText p {
    font-size: 14px;
}

.DescriptionDroneText p:first-child {
    font-size: 30px;
}

.cardDroneB{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    border: 1px solid #660000;
    padding-top: 3px;
}

.cardDroneB > p:nth-child(1){
    display: block;
    width: calc(100% - 6px);
    background: #66000066;
    color: #660000;
    text-align: center;
    font-weight: 600;
}

.cardDroneB > p:nth-child(3){
    color: #660000;
    width: calc(100% - 32px);
    font-size: 14px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.DescriptionDroneB{
    background-color: #660000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

.DescriptionDroneB button{
    border-radius: 8px;
    border: 0;
    padding: 6px;
    background: white;
    cursor: pointer;
}

.DescriptionDroneB button:hover{
    filter: brightness(0.9);
}

.service-divider h2 {
    border-bottom: 2px solid #1c8e99;
    color: #1c8e99;
}

.cardsServico {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardServicoA {
    border: 2px solid #660000; 
    border-bottom: 8px solid #660000;
}

.cardServicoA h3,
.cardServicoA p {
    padding: 8px;
    color: #660000;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.cardServicoA p {
    font-size: 13px;
}

.cardServicoB {
    border: 2px solid #1c8e99; 
    border-bottom: 8px solid #1c8e99;
}

.cardServicoB h3,
.cardServicoB p {
    padding: 8px;
    color: #1b8e99;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.cardServicoB p {
    font-size: 13px;
}

.threeDrones {
    display: flex;
    justify-content: space-between;
}

#thirdDrone {
    padding-right: 150px;
}

.footer{
    height: 96px;
    width: 100%;
    padding: 0 0 0 20px;
    background-color: #1b8e99;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer-logo {
    width: 100px;
    height:fit-content
}

.imgProfessor {
    height: 180px;
    margin-bottom: 25px;
}

.footer p,
.footer-down p {
    color: white;
    font-size: 14px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.footer p {
    padding-left: 50px;
}

.footer-down {
    height: 26px;
    width: 100%;
    background-color: #660000;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-down p {
    padding-right: 70px;
}
