* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.site-container {
    max-width: 980px;
    margin: 0 auto;
}

.navbarA{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #1b8e99;
    height: 45px;
    width: 100%;
    margin-top: 16px;
    position: relative;
}
.navbarB{
    display: flex;
    align-items: center;
    background-color: #660000;
    height: 45px;
    width: 100%;
}

.navbarA a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    height: 45px;
    display: flex;
    align-items: center;
  }

.navbarB a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    height: 45px;
    display: flex;
    align-items: center;
  }

.navbarA a:hover {
    background-color: black;
}

.navbarB a:hover {
    background-color: #92c9ce;
}
  
.activeA {
    height: 55px !important; 
    display: flex;
    align-items: center;
    background-color: #92c9ce;
    z-index: 1;
  }

.activeB {
    font-weight: bold;
    height: 55px !important; 
    display: flex;
    align-items: center;
    background-color: White;
    color: #660000 !important;
    z-index: 1;
  }
  
.banner{
    width: 100%;
    z-index: -2;
}
.img-logo{
    border: 1px #1b8e99;
    position: absolute;
    top: -16px;
    left: 16px;
    z-index: 9999;
}

.virtual-store-divider {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.virtual-store-divider img {
    margin-top: 16px;
    width: 125px;
    height: 77px;
}

.virtual-store-divider h1 {
    position: relative;
    display: block;
    flex: 1;
    border-bottom: 2px solid #660000;
    color: #660000;
    bottom: 20px;
}

.DroneCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardsServico{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardDroneA{
    display: flex;
    flex-direction: column;
    border: 1px #1b8e99;
}

.DescriptionDroneA{
    background-color: #1b8e99;
}

.cardDroneB{
    display: flex;
    flex-direction: column;
    border: 1px #660000;
}

.DescriptionDroneB{
    background-color: #660000;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: #1b8e99;
}

.footer-down{
    height: 20px;
    width: 100%;
    background-color: #660000;
}